@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import "tailwindcss";

body {
    font-family: Roboto Mono;
    background-color: black;
    color: white;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

body.light-theme {
    background-color: white;
    color: black;
}

body.dark-theme {
    background-color: black;
    color: white;
}

::selection {
    background-color: green;
}

@media print {
    body {
        background-color: white;
        color: black;
    }
}
