@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import "tailwindcss";

body {
    font-family: Roboto Mono;
    background-color: black; /* Default dark theme background */
    color: white; /* Default dark theme text */
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white; /* Light theme background */
        color: black; /* Light theme text */
    }
}

/* You can also add a class for manual theme switching if needed */
body.light-theme {
    background-color: white;
    color: black;
}

body.dark-theme {
    background-color: black;
    color: white;
}

::selection {
    background-color: green;
}
@media print {
    body {
        background-color: white;
        color: black;
    }
}
